<div class="container">

  <h1>Dojo idea machine</h1>
  <p>Throw an idea inside</p>
  <%= react_component("HelloWorldApp", props: @hello_world_props, prerender: false) %>


  <%= simple_form_for Idea.new, url: ideas_create_path do |f| %>
    <%= f.input :idea_content %>
    <%= f.button :submit %>
  <% end %>

  <ol>
    <% Idea.all.each do |idea| %>
      <li><%= idea.idea_content %></li>
    <% end %>
  </ol>

</div>
